[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = vinicius.zenha@gmail.com
	name = vzsoares
[credential]
	helper = store
[core]
	editor = nvim
[init]
	defaultBranch = main
[merge]
	ff = no
[pull]
	rebase = true
[push]
	autoSetupRemote = true
